@model IEnumerable<RentForRoom.Models.PhongModel>

@using System.Linq
@using Newtonsoft.Json
@{ 
    string q = "KWH";
    string r = "Người";
    string e = "Phòng";
}
<section class="feature-property-sec">
    <div class="container">
        <div class="section-heading text-center">
            <h2>HÀNG NGÀN PHÒNG ĐẸP GIÁ TỐT</h2>
            <div class="sec-line">
                <span class="sec-line1"></span>
                <span class="sec-line2"></span>
            </div>
            <p>LaLaHome là cầu nối giúp bạn tiếp cận đến hàng ngàn phòng đẹp, giá tốt đa dạng phân khúc</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pro-home">
                    <div class="row">
                        @foreach (var item in Model.Take(12))
                        {
                            <div class="col-md-3 col-12">
                                <div class="slider-col">
                                    <div class="product-custom">
                                        <div class="profile-widget">
                                            @*<a class="property-img btnbooking"  data-item='{
                                                            "RoomId": "@item.IDPhong",
                                                            "PropCode": "",
                                                            "PropAvatar": "@item.HinhAnh",
                                                            "IsEmpty": 1,
                                                            "IsHot": 1,
                                                            "PropPrice": @item.GiaThue,
                                                            "updated_at": "2024-12-17 10:30:04",
                                                            "PropType": 4,
                                                            "PQL": "@item.TienDichVụ",
                                                            "PropTypeName": "Căn hộ mini",
                                                            "PropName": "@item.TieuDe",
                                                            "ElectricityPrice": @item.TienDien,
                                                            "ElectricityUnit": "@q",
                                                            "WaterPrice": @(@item.TienNuoc * 1000),
                                                            "Nuoc": "@item.TienNuoc",
                                                            "Dien": "@item.TienDien",
                                                            "WaterUnit": "@r",
                                                            "AreaSEOUrl": "quan-go-vap",
                                                            "PropAddress": "@item.DiaChi, c, b, a",
                                                            "WC": "@(item.WC.HasValue && item.WC.Value ? $"chung" : $"riêng")",
                                                            "DP": "@(item.CuaSoBanCong.HasValue ? (item.CuaSoBanCong.Value ? $"Cửa Sổ" : $"Ban Công") : $"Phòng Kín")",
                                                            "KB": "@(item.KeBep.HasValue && item.KeBep.Value ? $"chung" : $"riêng")",
                                                            "ML": "@item.MayLanh",
                                                            "TD": "@item.TuDo",
                                                            "TL": "@item.TuLanh",
                                                            "SF": "@item.Sofa",
                                                            "Giuong": "@item.Giuong",
                                                            "Nem": "@item.Nem",
                                                            "BG": "@item.BanGhe",
                                                            "SPN": "@item.SoPhongNgu",
                                                            "PT": "@item.PhuongTien",
                                                            "Thang": "@(item.Thang.HasValue && item.Thang.Value ? $"bộ" : $"máy")",
                                                            "MG": "@(item.MayGiat.HasValue && item.MayGiat.Value ? $"chung" : $"riêng")",
                                                            "TC": "@(item.ThuCung.HasValue && item.ThuCung.Value ? $"được nuôi" : $"không được nuôi")",
                                                            "Coc": "@(item.TienCoc.HasValue && item.TienCoc.Value ? $"có" : $"không")",
                                                            "Gio": "@item.GioGiac",
                                                            "Map": "@item.LinkMap",
                                                            "v_house_street": "",
                                                            "v_house_ward_name": "Phường 8",
                                                            "v_house_district_name": "Quận Gò Vấp",
                                                            "v_house_id": 5192
                                                        }'
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#make-an-appointment"> </a>*@
                                                <div class="doc-img" style="background-image:url(@item.HinhAnh)">
                                                    <div class="product-amount" style="display:none">
                                                        <span>@(@item.GiaThue / 1000000) <small>triệu/tháng</small></span>
                                                         
                                                    </div>
                                                    <div class="feature-rating ">
                                                        <div>
                                                            @if (@item.Hide == false)
                                                            {
                                                                <div class="featured is--green">
                                                                    <span><i class="fa fa-fw fa-circle"></i> Còn phòng</span>
                                                                </div>
                                                            }
                                                            @if (@item.Hide == true)
                                                            {
                                                                <div class="featured is--orange">
                                                                    <span><i class="fa fa-fw fa-circle"></i> Tạm hết</span>
                                                                </div>
                                                            }
                                                            @if (@item.NoiBat == true)
                                                            {
                                                                <div class="new-featured item__hot">
                                                                    <span><i class="animated infinite rubberBand">HOT</i> Nổi bật</span>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                            <div class="pro-content">
                                                <h3 class="title">
                                                    @*<a class="btnbooking" data-item='{
                                                                "RoomId": "@item.IDPhong",
                                                                "PropCode": "",
                                                                "PropAvatar": "@item.HinhAnh",
                                                                "IsEmpty": 1,
                                                                "IsHot": 1,
                                                                "PropPrice": @item.GiaThue,
                                                                "updated_at": "2024-12-17 10:30:04",
                                                                "PropType": 4,
                                                                "PropTypeName": "Căn hộ mini",
                                                                "PropName": "@item.TieuDe",
                                                                "ElectricityPrice": @item.TienDien,
                                                                "ElectricityUnit": "@q",
                                                                "Nuoc": "@item.TienNuoc",
                                                                "Dien": "@item.TienDien",
                                                                "PQL": "@item.TienDichVụ",
                                                                "WaterUnit": "@r",
                                                                "AreaSEOUrl": "quan-go-vap",
                                                                "PropAddress": "@item.DiaChi, c, b, a",
                                                                "WC": "@(item.WC.HasValue && item.WC.Value ? $"chung" : $"riêng")",
                                                                "DP": "@(item.CuaSoBanCong.HasValue ? (item.CuaSoBanCong.Value ? $"Cửa Sổ" : $"Ban Công") : $"Phòng Kín")",
                                                                "KB": "@(item.KeBep.HasValue && item.KeBep.Value ? $"chung" : $"riêng")",
                                                                "ML": "@item.MayLanh",
                                                                "TD": "@item.TuDo",
                                                                "TL": "@item.TuLanh",
                                                                "SF": "@item.Sofa",
                                                                "Giuong": "@item.Giuong",
                                                                "Nem": "@item.Nem",
                                                                "BG": "@item.BanGhe",
                                                                "SPN": "@item.SoPhongNgu",
                                                                "PT": "@item.PhuongTien",
                                                                "Thang": "@(item.Thang.HasValue && item.Thang.Value ? $"bộ" : $"máy")",
                                                                "MG": "@(item.MayGiat.HasValue && item.MayGiat.Value ? $"chung" : $"riêng")",
                                                                "TC": "@(item.ThuCung.HasValue && item.ThuCung.Value ? $"được nuôi" : $"không được nuôi")",
                                                                "Coc": "@(item.TienCoc.HasValue && item.TienCoc.Value ? $"có" : $"không")",
                                                                "Gio": "@item.GioGiac",
                                                                "Map": "@item.LinkMap",
                                                                "v_house_street": "",
                                                                "v_house_ward_name": "Phường 8",
                                                                "v_house_district_name": "Quận Gò Vấp",
                                                                "v_house_id": 5192
                                                            }'
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#make-an-appointment">

                                                    </a>*@
                                                    @item.TieuDe
                                                </h3>
                                                <p>
                                                    <i class="fa fa-fw fa-map-marker"></i>
                                                    @Html.Raw(item.DiaChi), @Html.Action("GetPhuongXaName", "Phong", new { id = item.IDPhuong }),
                                                    @Html.Action("GetQuanHuyenName", "Phong", new { id = item.IDQuan }),
                                                    @Html.Action("GetThanhPhoName", "Phong", new { id = item.IDTP })

                                                    @{
                                                        string a = Html.Action("GetThanhPhoName", "Phong", new { id = item.IDTP }).ToString();
                                                        string b = Html.Action("GetQuanHuyenName", "Phong", new { id = item.IDQuan }).ToString();
                                                        string c = Html.Action("GetPhuongXaName", "Phong", new { id = item.IDPhuong }).ToString();
                                                    }

                                                </p>
                                                @*<p class="price-mb"><span>@(@item.GiaThue / 1000000) <small>triệu/tháng</small></span></p>*@
                                                <ul class="d-flex details">
                                                    <li class="me-3">
                                                        <i class="fa fa-fw fa-home"></i>
                                                        Căn hộ mini
                                                    </li>
                                                    <li>
                                                        
                                                        <span name="MaTaiKhoan">
                                                            @{ Html.RenderAction("GetMaTaiKhoanName", "Phong", new { id = item.MaTaiKhoan }); }
                                                        </span>

                                                    </li>
                                                </ul>
                                                <div class="q-action cach-le-tren">
                                                    <span class="price-mb giatien">
                                                        <span >@(@item.GiaThue / 1000000) <small>triệu/tháng</small></span>
                                                        <button type="button" class="btn btn-success btnbooking float-end"
                                                                data-item='{
                                                            "RoomId": "@item.IDPhong",
                                                            "PropCode": "",
                                                            "PropAvatar": "@item.HinhAnh",
                                                            "IsEmpty": 1,
                                                            "IsHot": 1,
                                                            "PropPrice": @item.GiaThue,
                                                            "updated_at": "2024-12-17 10:30:04",
                                                            "PropType": 4,
                                                            "PropTypeName": "Căn hộ mini",
                                                            "PropName": "@item.TieuDe",
                                                            "ElectricityPrice": @item.TienDien,
                                                            "ElectricityUnit": "@q",
                                                            "WaterPrice": @(@item.TienNuoc * 1000),
                                                            "Nuoc": "@item.TienNuoc",
                                                            "Dien": "@item.TienDien",
                                                            "WaterUnit": "@r",
                                                            "AreaSEOUrl": "quan-go-vap",
                                                            "PropAddress": "@item.DiaChi, @c, @b, @a",
                                                            "PQL": "@item.TienDichVụ",
                                                            "WC": "@(item.WC.HasValue && item.WC.Value ? $"chung" : $"riêng")",

                                                            "DP": "@(item.CuaSoBanCong.HasValue ? (item.CuaSoBanCong.Value ? $"Cửa Sổ" : $"Ban Công") : $"Phòng Kín")",
                                                            "KB": "@item.KeBep",
                                                            "KB": "@(item.KeBep.HasValue && item.KeBep.Value ? $"chung" : $"riêng")",
                                                            "ML": "@item.MayLanh",
                                                            "TD": "@item.TuDo",
                                                            "TL": "@item.TuLanh",
                                                            "SF": "@item.Sofa",
                                                            "Giuong": "@item.Giuong",
                                                            "Nem": "@item.Nem",
                                                            "BG": "@item.BanGhe",
                                                            "SPN": "@item.SoPhongNgu",
                                                            "PT": "@item.PhuongTien",
                                                            "Thang": "@(item.Thang.HasValue && item.Thang.Value ? $"bộ" : $"máy")",
                                                            "MG": "@(item.MayGiat.HasValue && item.MayGiat.Value ? $"chung" : $"riêng")",
                                                            "TC": "@(item.ThuCung.HasValue && item.ThuCung.Value ? $"được nuôi" : $"không được nuôi")",

                                                            "Coc": "@(item.TienCoc.HasValue && item.TienCoc.Value ? $"có" : $"không")",
                                                            "Gio": "@item.GioGiac",
                                                            "Map": "@item.LinkMap",
                                                            "v_house_street": "",
                                                            "v_house_ward_name": "Phường 8",
                                                            "v_house_district_name": "Quận Gò Vấp",
                                                            "v_house_id": 5192
    }'
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#make-an-appointment">
                                                            Đặt Lịch Hẹn
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-imgs">
        <img src="/Content/img/price-bg.png" class="bg-01" alt="icon">
    </div>
</section>



<script>
   
</script>
