@model RentForRoom.DBContext.tbBanner

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>QUẢN LÝ THÔNG TIN BANNER</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">CHỈNH SỬA THÔNG TIN BANNER</h5>

                        <!-- General Form Elements -->
                        <form action="/admin/ABanners/edit" method="post" enctype="multipart/form-data">
                            @Html.HiddenFor(model => model.IDBanner)
                            @Html.HiddenFor(model => model.HinhBanner)
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Hình Ảnh</label>
                                <div class="col-sm-10">
                                    @if (string.IsNullOrEmpty(Model.HinhBanner))
                                    {
                                        Model.HinhBanner = "/Content/img/avatarfb.jpg";
                                        <img src="@Model.HinhBanner" width="180" />

                                    }
                                    else
                                    {
                                        <img src="@Model.HinhBanner" width="180" />}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Cập Nhật Hình Ảnh</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" name="Editfile" id="formFile">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Tiêu Đề</label>
                                <div class="col-sm-10">
                                    <input type="text" value="@Model.TieuDe" name="TieuDe" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Nội Dung</label>
                                <div class="col-sm-10">
                                    <textarea name="NoiDung" class="form-control ckeditor" rows="5"> @Model.NoiDung</textarea>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Trạng Thái</label>
                                <div class="col-sm-2">
                                    <select name="Hide" class="form-control">
                                        <option value="true" @(Model.Hide == true ? "selected" : "")>Tạm Ngưng</option>
                                        <option value="false" @(Model.Hide == false ? "selected" : "")>Còn Hoạt Động</option>
                                    </select>
                                </div>
                            </div>


                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Cập Nhật</button>
                                    <a href="/admin/ABanners" class="btn btn-danger"> Quay Lại</a>
                                </div>
                            </div>


                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>


        </div>
    </section>
</main>
